﻿<script type="text/javascript">
    //This script is used to calculate salary in asynchronous way. Event on click is attached to button. 
    //Value is put in salary field.
    $(document).ready(function() {
        $('#calculateSalary').click(function () {

            var workingas = $('#WorkingAs').val();
            var experience = $('#Experience').val();

            $.ajax('@Url.Action("CalculateSalary", "Salary")', {
                type: 'POST',
                dataType: 'json',
                data : {
                    'workingas': workingas,
                    'experience' : experience
                },
                    success: function(data, status, jqXHR) {
                        if ("success" === status) {
                            $('#Salary').val(data.salary);
                        } else {
                            alert('This Product ID is not valid. Try again!');
                        }
                    }
        });
    });
    });
</script>


@using HrModule.Domain.Entities

@model HrModule.Domain.Entities.Contract

@{
    ViewBag.Title = "Edit";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Contract"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ContractID)

            <div class="form-group">
                <label>Name:</label>
                @Html.TextBox("Name", null, new { @class = "form-control" })
                @Html.ValidationMessage("Name")
            </div>

            <div class="form-group">
                <label>Working as:</label>
                @Html.DropDownList("WorkingAs", new SelectList(Enum.GetNames(typeof(PositionType))), new { @class = "form-control" })

            </div>

            <div class="form-group">
                <label>Experience:</label>
                @Html.TextBox("Experience", null, new { @class = "form-control" })
                @Html.ValidationMessage("Experience")
            </div>

            <div class="form-group">
                
                <label>Salary:</label>
                @Html.TextBox("Salary", null, new { @class = "form-control", @readOnly = "readonly" })
                @Html.ValidationMessage("Salary")
                <input id="calculateSalary" type="button" value="Calculate salary for selected data" class="btn btn-default" />
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and back to list", "List", null, new { @class = "btn btn-default" })
        </div>
    }


</div>

