﻿@using HrModule.Domain.Entities

@model HrModule.Application.Shared.GetContractsResponse

@{
    ViewBag.Title = "Contracts";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("ListData")
    };
}

<div @*class="panel panel-default"*@>
    
    <div @*class="panel-heading"*@ class="page-header">
        <h3>List of contracts</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Actions
        </div>

        <div class="panel-body">
            @Html.ActionLink("Add new contract", "Create", null, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Filtering contracts
        </div>
        
        @using (Ajax.BeginForm("ListData", null, ajaxOpts, new { @class = "panel-body form-horizontal" }))
        {
                <div class="form-group">
                    <label class="col-xs-2">Name:</label>
                    <div class="col-xs-10">
                        @Html.TextBox("Name", null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Working as:</label>
                    <div class="col-xs-10">
                        @Html.DropDownList("WorkingAs", new SelectList(new[] { "" }.Concat(Enum.GetNames(typeof(PositionType)))), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Experience:</label>
                    <div class="col-xs-10">
                        @Html.TextBox("Experience", null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2">Salary:</label>
                    <div class="col-xs-10">
                        @Html.TextBox("Salary", null, new { @class = "form-control" })
                    </div>
                </div>

            <div @*class="panel-footer"*@ >
                <input type="submit" value="Apply filter" @*class="btn btn-primary"*@ class = "btn btn-default"/>
            </div>
        }
            
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Predefined filters
        </div>

        <div class="panel-body">
            @Ajax.ActionLink("Experience 5 years", "ListData", new { ExperienceOperator="=", Experience = 5 }, new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-default" })
            @Ajax.ActionLink("Salary more then 5k", "ListData", new { SalaryOperator=">", Salary = 5000 }, new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-default" })
            @Ajax.ActionLink("Clear filter", "ListData", new { }, new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="panel panel-default">
        @Html.Action("ListData", new { })
    </div>

</div>

