﻿@model HrModule.Application.Shared.GetContractsResponse

<div id="tableBody" class="panel-body">

    <div class="ajaxLink btn-group pull-right">

        @for (int index = 1; index <= Model.PagingInfo.TotalPages; index++)
        {
            if (index == Model.PagingInfo.CurrentPage)
            {
                @Ajax.ActionLink("Page " + index, "ListData", new { page = index, Name = ViewBag.CurrentFilter.Name, WorkingAs = ViewBag.CurrentFilter.WorkingAs, ExperienceOperator = ViewBag.CurrentFilter.ExperienceOperator, Experience = ViewBag.CurrentFilter.Experience, SalaryOperator = ViewBag.CurrentFilter.SalaryOperator, Salary = ViewBag.CurrentFilter.Salary }, new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "selected btn-primary btn btn-default" })
            }
            else
            {
                @Ajax.ActionLink("Page " + index, "ListData", new { page = index, Name = ViewBag.CurrentFilter.Name, WorkingAs = ViewBag.CurrentFilter.WorkingAs, ExperienceOperator = ViewBag.CurrentFilter.ExperienceOperator, Experience = ViewBag.CurrentFilter.Experience, SalaryOperator = ViewBag.CurrentFilter.SalaryOperator, Salary = ViewBag.CurrentFilter.Salary }, new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-default" })
            }
        }
    </div>

    <table class="table table-striped table-condensed table-bordered">

        <tr>
            <th>Name</th>
            <th>Working as</th>
            <th>Experience</th>
            <th>Salary</th>
        </tr>

        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", new { item.ContractID })</td>
                <td>@item.WorkingAs</td>
                <td>@item.Experience</td>
                <td>@*@item.Salary*@ @string.Format("{0:n0}", item.Salary)</td>
            </tr>
        }

    </table>


</div>